/* Colour scheme: f7fff7-343434-2f3061-ffe66d-6ca6c1 */

body {
    background-color: #343434;
    color: white;
    font-family: Verdana, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
}

a {
    color: #FFE66D;
}
a:hover {
    color: #F7FFF7;
}

.intro {
    margin: 2em
}

.container {
    margin: 20px;
}

.recipe-option {
    /* display: inline; */
    background-color: #2F3061; 
    margin: 0.5em auto;
    padding: 5px;
    border-radius: 0.2em;
    border: 2px solid #FFE66D;
    text-align: center;
    width: 10em;
}

.recipe-option a:hover {
    color: white;
}

figure {
    margin: 2px auto;
    padding: 2em;
    border: 2px solid #6CA6C1;
    background-color: #2F3061;
    width: 20em;
    border-radius: 0.2em;
    text-align: center;
}

img {
    width: 200px;
    margin: 0 auto;
    border: 2px solid #FFE66D;
    border-radius: 0.2em
}