/* 
Colour scheme
-------------
Dark coffee: #1C110A
Oxidized iron: #9B2915
Tropical teal: #50A2A7
Honey bronze: #E9B44C
Vanilla custard: #E4D6A7
*/

body {
    background-color: black;
    color: white;
    font-family: Verdana, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
}

a {
    color: #E9B44C;
}
a:hover {
    color: #E4D6A7;
}

.intro {
    margin: 2em
}

.container {
    margin: 20px;
}

.recipe-option {
    /* display: inline; */
    background-color: #251101; 
    margin: 0.5em auto;
    padding: 5px;
    border-radius: 0.2em;
    border: 2px solid #50A2A7;
    text-align: center;
    width: 10em;
}

.recipe-option a:hover {
    color: white;
}

figure {
    margin: 2px auto;
    padding: 2em;
    border: 2px solid #50A2A7;
    background-color: #1C110A;
    width: 20em;
    border-radius: 0.2em;
    text-align: center;
}

img {
    width: 200px;
    margin: 0 auto;
    border: 2px solid #9B2915;
    border-radius: 0.2em
}